<div>
  <div class="pizza-tiles">
    <div class="pizza-tile">
      <div class="pizza-tile__avatar">
        M
      </div>
      <div class="pizza-tile__content">
        <h3 class="pizza-tile__title">Margherita</h3>
        <p class="pizza-tile__description">
          Tomate, Mozzarella, Oregano
        </p>
      </div>
    </div>
    <div class="pizza-tile">
      <div class="pizza-tile__avatar">
        P&F
      </div>
      <div class="pizza-tile__content">
        <h3 class="pizza-tile__title">Prosciutto et Funghi</h3>
        <p class="pizza-tile__description">
          Tomate, Mozzarella, Oregano, Schinken, Pilze und noch mehr Pilze
        </p>
      </div>
    </div>
    <div class="pizza-tile">
      <div class="pizza-tile__avatar">
        M
      </div>
      <div class="pizza-tile__content">
        <h3 class="pizza-tile__title">Margherita</h3>
        <p class="pizza-tile__description">
          Tomate, Mozzarella, Oregano
        </p>
      </div>
    </div>
  </div>
  <hr class="pizza-selection-divider">
  <p>
    checkboxes
  </p>
  <hr class="pizza-selection-divider">
  <button class="order-button">Add to Shopping Cart</button>
</div>