<div class="pizza-tiles">
  <div *ngFor="let pizza of pizzas" class="pizza-tile">
    <div class="pizza-tile__avatar">
      {{pizza.name.substring(0, 1)}}
    </div>
    <div class="pizza-tile__content">
      <h3 class="pizza-tile__title">{{pizza.name}}</h3>
      <p class="pizza-tile__description">
        {{pizza.ingredients.join(', ')}}
      </p>
    </div>
  </div>
</div>
<hr class="pizza-selection-divider">
<div id="pizzaIngredients">
  <label *ngFor="let ingredient of ingredients" class="pizza-ingredients__item">
    <input type="checkbox" />{{ingredient.name}}
  </label>
</div>
<hr class="pizza-selection-divider">
<button class="order-button">Add to Shopping Cart</button>
