<div>
  <app-pizza-list [pizzas]="pizzas"
                  [selectedPizza]="selectedPizza"
                  (onSelectPizza)="onSelectPizza($event)"
                  class="pizza-tiles">
  </app-pizza-list>

  <hr class="pizza-selection-divider">
  <app-ingredient-list [ingredients]="ingredients"
                       [selectedIngredients]="selectedIngredients"
                       (onAddIngredient)="onAddIngredient($event)"
                       (onRemoveIngredient)="onRemoveIngredient($event)"
                       id="pizzaIngredients">
  </app-ingredient-list>

  <hr class="pizza-selection-divider">
  <span>Pizzapreis: {{pizzaPrice | currency:'CHF'}}</span>
  <button class="order-button">Add to Shopping Cart</button>
</div>
