main {
    display: flex;
    align-items: stretch;
    height: 100vh;
}

#pizzaSelection {
    flex-grow: 1;
    background-color: #ecf0f1;
    text-align: center;
    overflow: auto;
}

#pizzaPreview {
    flex: none;
    width: 33%;
    display: flex;
    flex-direction: column;
    background-color: #34495e;
    color: #ecf0f1;
    box-shadow: inset 5px 0px 10px 0px rgba(0, 0, 0, 0.8);
}

@media (max-width: 640px) {
    #pizzaPreview {
        position: fixed;
        top: 0;
        right: -90%;
        bottom: 0;
        width: 90%;
        transition: right 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }
}