<ul class="shopping-cart-list">


  <li *ngFor="let pizzaSelection of pizzaSelections$ | async" class="shopping-cart-list__item">
    <div class="shopping-cart-list-item-title">
      {{pizzaSelection.pizza.name}}
    </div>
    <div class="shopping-cart-list-item-tools">
      <select>
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      {{pizzaSelection.getPrice()}}
    </div>
  </li>

</ul>
<div *ngIf="showOrderButton" class="shopping-cart-order">
  <button class="order-button" routerLink="/checkout">Order</button>
</div>
