<app-shopping-cart [showOrderButton]="false"></app-shopping-cart>

<form #addressForm="ngForm" id="addressForm">

  <div id="salutation" class="address-form__item address-form__item--full-width">
    <select name="salutation" [(ngModel)]="address.salutation">
      <option>Frau</option>
      <option>Herr</option>
      <option>Other</option>
    </select>
  </div>

  <app-pizza-input-field name="firstName"
                         [(value)]="address.firstname"
                         placeholder="Vorname"
                         errorMessage="Vorname fehlt">
  </app-pizza-input-field>

  <app-pizza-input-field name="lastName"
                         [(value)]="address.lastname"
                         placeholder="Nachname"
                         errorMessage="Nachname fehlt">
  </app-pizza-input-field>

  <app-pizza-input-field name="streetAndNumber"
                         [(value)]="address.street"
                         placeholder="Strasse / Nr"
                         errorMessage="Strasse / Nr fehlt"
                         [fullWidth]="true">
  </app-pizza-input-field>

  <app-pizza-input-field name="zip"
                         type="number"
                         [(value)]="address.zip"
                         placeholder="Postleitzahl"
                         errorMessage="Postleitzahl fehlt">
  </app-pizza-input-field>

  <app-pizza-input-field name="city"
                         [(value)]="address.city"
                         placeholder="Stadt"
                         errorMessage="Stadt fehlt">
  </app-pizza-input-field>

  <app-pizza-input-field name="phoneNumber"
                         type="tel"
                         [(value)]="address.phone"
                         placeholder="Telefonnummer"
                         errorMessage="Telefonnummer fehlt"
                         [fullWidth]="true">
  </app-pizza-input-field>

  <div class="address-form__item address-form-item--align-right">
    <button type="submit" class="address-form__order-button">Bestellen!</button>
  </div>
</form>
